// //////////////////////////////
// @@ CONTACT-OVERLAY
// //////////////////////////////

.r-contact-overlay {
	left: -100vw;
	padding: $default-padding;

	@include bcg-overlay(map-get($colors, accent), map-get($colors, black));

	
  @include mq(tablet) {
    width: 80vw;
  }

	&__inner {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__top {
		display: flex;
		justify-content: space-between;
	}

	&__close {
		display: flex;
		width: 3rem;
		height: 5rem;
		cursor: pointer;
	}

	&__body {
		display: flex;
		flex-direction: column;
        align-items: center;
    
		font: {
			size: $ff-size + .2rem;
			weight: $fw-bold;
    }
    
    p {
      margin-bottom: $margin-bb;
      line-height: 2.6;
    }
	}

	&__icons {
    display: flex;
    justify-content: flex-end;
  }
  
	&__icon {
		width: 4.8rem;
		margin-right: 1rem;
		
		@include hover-scale(1.1);

	}

	&--visible {
		opacity: 1;
		left: 0;
	}
}
