// /////////////////////////////
// @@ FOOTER REGION
// /////////////////////////////

.r-footer {
  margin-top: 3rem;
  background-color: map-get($colors, accent);
  color: map-get($colors, white);

  &__decoration {
    display: none;

    @include mq(tablet) {
      display: block;
    }
  }

  &__img-items {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  &__img-item {
    margin-left: 0;
  }

  &__img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }

  &__inner {
    padding: 3rem;

    @include mq(desktop) {
      display: flex;
      justify-content: space-around;
    }
  }

  &__top {
  }

  &__bottom {
  }

  &__link {
    color: map-get($colors, white);
    text-decoration: underline;
  }
}
