// /////////////////////////
// @@ MENU-OVELAY REGION
// ////////////////////////

.r-menu-overlay {
  right: -100vw;
  padding: $default-padding;

  @include bcg-overlay(map-get($colors, accent-two), map-get($colors, white));

  @include mq(tablet) {
    width: 80vw;
  }
  
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: $margin-b;
  }

  &__close {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
  }

  &__list {
    display: flex;
    margin-bottom: $margin-b;
  }

  &__items {
      list-style-type: none;

      @include mq(desktop) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        
      }
  }

  &__item {
    font: {
      size: 2.7rem;
      weight: $fw-bold;
    }
    margin-left: 0;
    justify-self: center;
  }

  &__link {
    text-decoration: none;
    color: map-get($colors, bcg-clr);
  }

  &__bottom {
    text-align: right;
    margin-bottom: $margin-b;
  }

  &--visible {
    opacity: 1;
    right: 0;
  }
}
