// /////////////////////////////
// @@ NEWS REGION
// /////////////////////////////

.r-news {
	background-color: map-get($colors, accent);
	color: map-get($colors, white);
	max-width: 80rem;
	margin: $margin-bb auto;

	@include mq(desktop) {
    background-color: rgba(map-get($colors, accent), .8);
    position: absolute;
    max-width: 70rem;
		top: 16rem;
		left: 10vw;
		z-index: 989;
	}

	&__inner {
		padding: 3rem;
	}

	&__title {
	}

	&__body {
		height: auto;
		overflow: auto;
	}

	&__img {
		margin-bottom: $margin-b;

		@include mq(tablet) {
			float: left;
			max-width: 25rem;
			margin-right: 3rem;
		}
	}

	// if there is no news an empty view is shown
	// BEHAVIOUR IN THE ABSENCE OF RESULTS

	&__view-empty {
		padding: 3rem;
	}
}
