{#
/**
 *
 * @see html.html.twig
 */
#}
<!-- start r-menu-overlay -->
  {% include directory ~ './src/templates/partials/shared/menu-overlay.html.twig' %}
<!-- end r-menu-overlay -->

<!-- start r-contact-overlay -->
  {% include directory ~ './src/templates/partials/shared/contact-overlay.html.twig' %}
<!-- end r-contact-overlay -->

<!-- start r-header__top -->
  {% include directory ~ './src/templates/partials/shared/header-top.html.twig' %}
<!-- end r-header__top -->

<!-- start r-header -->
  {% include directory ~ './src/templates/partials/header-page.html.twig' %}
<!-- end r-header -->

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="r-welcome">
	    <div class="r-welcome__inner container">
        {{ page.content }}
      </div>
    </div>
    
  </main>

{# start footer region  #}
{% include directory ~ './src/templates/partials/shared/footer.html.twig' %}
{# end footer region  #}

<!-- start of cookie__alert -->
{% include directory ~ './src/templates/partials/shared/cookie-alert.html.twig' %}
<!-- end of cookie__alert -->