{# NEWS REGION #}

<div class="r-news container">
	{{ page.news }}
</div>

{# The HTML structure #}

{# <div class="r-news container"> <div class="r-news__inner">
		<div class="r-news__title">
			<h2>Nieuws titel</h2>
		</div>
		<div class="r-news__body">
			<div class="r-news__img">
				<img src="../dist/images/footer-1.jpg" alt="">
			</div>
			<div class="r-news__text">
				<p>Als er geen nieuws te meldem valt, dan maken we hier extra reclame over je zuurdesembrood.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero est cumque quo quas omnis non? Illo non
															            repellat placeat iure minus.</p>
			</div>
		</div>
	</div>
</div> #}
