{# 
*
* 
#}

<div class="r-sourdough-bread" id="r-sourdough-bread">
	<div class="r-sourdough-bread__overlay"></div>
	<div class="r-sourdough-bread__inner container">
		<div class="r-sourdough-bread__title">
			<h2>Zuurdesembrood</h2>
		</div>
		<div class="r-sourdough-bread__body">
			<p>Patisserie Van Gorp is één van de pioniers in de streek als het gaat om zuurdesembrood. Brood bakken zoals
												          het bedoeld is. Al onze broden worden gebakken op basis van zuurdesem.</p>
		</div>
		<div class="r-sourdough-bread__img">
			<img src="{{ base_path ~ directory }}/dist/images/sourdough-bread_01.jpg" alt="">
			<img src="{{ base_path ~ directory }}/dist/images/sourdough-bread_01.jpg" alt="">
		</div>
		<a href="#" class="c-btn c-btn--accent">
			Meer info
		</a>
	</div>
</div>
