{# 
* Welcome-sub region on page-front.html.twig
*
#}

<div class="r-welcome-sub container"> <div class="r-welcome-sub__inner">
		<div class="r-welcome-sub__body-0">
			<p>Correcte en eerlijke ingrediënten, geen onnodige verbeteraars en beperking in gebruik van suiker en zout. Wij
												          trachten terug te gaan naar de basis.<br>
				In ons atelier werken we enkel met goei boter, steeds rekening houdend met de seizoenen.</p>
		</div>
		<div class="r-welcome-sub__img-0">
			<img src="{{ base_path ~ directory }}/dist/images/interieur.png" alt="">
		</div>

		<div class="r-welcome-sub__body-1">
			<p>Wij bieden u een groot assortiment aan broden, pistolets,koffiekoeken,klein gebak en taarten.<br>
				Als aanvulling bieden wij u een verstoog aan met een groot assortiment charcuterie en kaas.</p>
		</div>

		<div class="r-welcome-sub__img-1">
			<img src="{{ base_path ~ directory }}/dist/images/ijs.png" alt="">
		</div>
	</div>
</div>