{# 
* Contact-overlay.html.twig
*
#}

<div class="r-contact-overlay">
	<div class="r-contact-overlay__inner">
		<div class="r-contact-overlay__top">
			<div class="r-contact-overlay__logo">
				<a href="{{ path('<front>') }}">
					<img src="{{ base_path ~ directory }}/dist/images/logo.png" alt="Logo Van Gorp">
				</a>
			</div>
			<div class="r-contact-overlay__close js-close-contact">
				<div class="c-close-btn c-close-btn--black"></div>
			</div>
		</div>
		<div class="r-contact-overlay__body">
			<p>Van Gorp Patisserie<br>Sint-Jozeflaan 33<br>2400 Mol-Wezel</p>
			<a class="c-phone c-phone--accent" href="tel:+3214811260">014/811260</a>
		</div>
		<div class="r-contact-overlay__social">
			<div class="r-contact-overlay__icons">
				<a href="https://www.facebook.com/PatisserieVanGorp">
					<img class="r-contact-overlay__icon" src="{{ base_path ~ directory }}/dist/images/facebook-icon.png" alt="Facebook icon">
				</a>
				<a href="https://www.instagram.com/patisserievangorp/">
					<img class="r-contact-overlay__icon" src="{{ base_path ~ directory }}/dist/images/instagram.png" alt="instagram icon">
				</a>
			</div>
		</div>
	</div>
</div>
