{# 
* Cookie-alert.html.twig
*
#}

<div class="cookie__alert" role="alert">
	<p>We gebruiken cookies om ervoor te zorgen dat u de beste ervaring op onze website krijgt.</p>
	<div class="cookie__flex">
		<a href="{{ base_path }}privacyverklaring">Lees meer</a>
		<button type="button" class="c-btn c-btn--accent-two cookie__accept">
			Akkoord
		</button>
	</div>
</div>