{# HEADER-TOP REGION #}

<div class="r-header-top">

	{# start r-header-top__inner  #}
	<div class="container r-header-top__inner">

		<!-- start r-header-top__brand  -->
		<div class="r-header-top__brand">
			<div class="r-header-top__logo">
				<img class="r-header-top__img-logo" src="{{ base_path ~ directory }}/dist/images/logo.png" alt="Van Gorp logo">
			</div>
			<div class="r-header-top__title">
				<h1>{{ site_name }}</h1>
			</div>
		</div>
		<!-- end r-header-top__brand  -->

		<!-- start r-header-top__menu-desktop  -->
		<div class="r-header-top__menu-desktop">
			<ul class="r-menu__items">
				<li class="r-menu__item">
					<a class="r-menu__link" href="#">Home</a>
				</li>
				<li class="r-menu__item">
					<a class="r-menu__link" href="#r-sourdough-bread">Zuurdesembrood</a>
				</li>
				<li class="r-menu__item">
					<a class="r-menu__link" href="#r-product-range">Assortiment</a>
				</li>
				<li class="r-menu__item">
					<a class="r-menu__link" href="#r-contact">Contact info</a>
				</li>
			</ul>
		</div>
		<!-- end r-header-top__menu-desktop  -->

		<!-- start r-header-top__menu-btn -->
		<div class="r-header-top__menu-btn">
			<div class="c-hamburger-btn">
				<span class="c-hamburger-btn--open">&nbsp;</span>
				<span class="c-hamburger-btn__label">
					Menu</span>
			</div>
		</div>
		<!-- end r-header-top__menu-btn -->

    {# start r-header__contact #}
		<div class="r-header__contact">
			<div class="c-contact-btn js-open-contact">
				<img src="{{ base_path ~ directory }}/dist/images/contact-btn.png" alt=""/>
			</div>
		</div>
		{# end r-header__contact #}
	</div>
	{# end r-header-top__inner  #}
</div>