{# 
* Menu-overlay.html.twig
* 
#}

<div class="r-menu-overlay">
	<div class="r-menu-overlay__top">
		<div class="r-menu-overlay__close js-close-menu">
			<span class="c-close-btn c-close-btn--black">&nbsp;</span>
		</div>
		<div class="r-menu-overlay__logo">
			<img src="{{ base_path ~ directory }}/dist/images/logo.png" alt="">
		</div>
	</div>

	<div class="r-menu-overlay__list">
		<div class="">
			<ul class="r-menu-overlay__items">
				<li class="r-menu-overlay__item">
					<a class="r-menu-overlay__link" href="#">Home</a>
				</li>
				<li class="r-menu-overlay__item">
					<a class="r-menu-overlay__link" href="#">Zuurdesembrood</a>
				</li>
				<li class="r-menu-overlay__item">
					<a class="r-menu-overlay__link" href="#">Assortiment</a>
				</li>
			</ul>
		</div>
	</div>
</div>