// /////////////////////////////
// @@ CONTACT INFORMATION REGION
// /////////////////////////////

.r-contact {
  margin: $margin-bbb 0;
  padding: 8rem 0;
  background-color: map-get($colors, accent-two);

  &__inner {
    

    @include mq(desktop) {
      display: flex;
      
    }
  }

  &__top {
    flex-grow: 1;
  }

  &__bottom {
    flex-grow: 1;

    @include mq(desktop) {
      margin-left: $margin-b;
    }
  }

  &__address {}

  &__open {
    margin-bottom: $margin-b;
  }

  &__social {
    margin-bottom: $margin-b;
  }

  &__icons {
    display: flex;
  }

  &__icon {
    width: 3.2rem;
    margin-right: 1rem;

    @include hover-scale(1.1);
  }
}