// /////////////////////////
// @@ sourdough bread REGION
// ////////////////////////

.r-sourdough-bread {
  margin-top: 5rem;
  padding: 5rem 0;
  position: relative;
  background: {
    image: url("../images/header-bcg.jpg");
    repeat: no-repeat;
    size: cover;
  };
  z-index: 1;

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(map-get($colors, black), .85);
    z-index: 2;
  }

  &__inner {
    color: map-get($colors, white);
    text-align: center;
    position: relative;
    z-index: 3;
  }

  &__body {
    margin-bottom: $margin-b;
  }

  &__img {
    display: flex;
    margin-bottom: $margin-b;

    & img:last-child {
      margin-left: 3rem;
    }
  }
}