// /////////////////////////
// @@ sourdough bread REGION
// ////////////////////////

.r-sourdough-bread {
  padding-top: 3rem;
  background: {
    image: url("../images/header-bcg.jpg");
    repeat: no-repeat;
    size: cover;
  };
}