// /////////////////////////
// @@ WELCOME REGION
// ////////////////////////

.r-welcome {
	margin-top: 3rem;

	@include mq(desktop) {
		margin: $margin-bbb 0;

		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
  }
  
	&__body {
		margin-bottom: $margin-bb;

		@include mq(desktop) {
			max-width: 45vw;
		}
	}

	&__images {
		background-color: map-get($colors, black);
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		& img:hover {
			opacity: .95;
		}

		@include mq(desktop) {
			max-width: 35vw;
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
