// /////////////////////////
// @@ BASE
// ////////////////////////

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// This defines what 1 rem is
	// Why? 10px easy to convert everything to rem
	// 62.5% =  10px/16px (default)
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-display: auto;
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
	background-color: map-get($colors, white);
	min-height: 100%;
}

p {
	margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
	color: map-get($colors, accent);
	

	&:hover {
		text-decoration: none;
	}
}

img {
	width: 100%;
	height: auto;
	display: block;
}

ol {
	display: block;
	list-style-type: decimal;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
	overflow: hidden;
}

ul {
	list-style-type: circle;
	overflow: hidden;
}

li {
	margin-left: 3.5rem;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid map-get($colors, black);
}

th, td {
  padding: 1rem;
  
}

strong {
	font: {
		weight: $fw-bold;
	}
}