<!-- start r-menu-overlay -->
{% include directory ~ '/templates/partials/shared/menu-overlay.html.twig' %}
<!-- end r-menu-overlay -->

<!-- start r-contact-overlay -->
{% include directory ~ '/templates/partials/shared/contact-overlay.html.twig' %}
<!-- end r-contact-overlay -->

<!-- start r-header__top -->
{% include directory ~ '/templates/partials/shared/header-top.html.twig' %}
<!-- end r-header__top -->

<!-- start r-header -->
{% include directory ~ '/templates/partials/header-page-front.html.twig' %}
<!-- end r-header -->

<!-- start r-news -->
<!-- Always show something even if there is nothing new to report -->
{% include directory ~ '/templates/partials/news.html.twig' %}<!-- end r-news -->

<!-- start r-welcome -->
{% include directory ~ '/templates/partials/welcome.html.twig' %}
<!-- end r-welcome -->

<!-- start r-sourdough-bread -->
{% include directory ~ '/templates/partials/sourdough-bread.html.twig' %}
<!-- end r-sourdough-bread -->

{# start r-welcome-sub  #}
{% include directory ~ '/templates/partials/welcome-sub.html.twig' %}
{# end r-welcome-sub  #}

<!-- start r-product-range -->
{% include directory ~ '/templates/partials/product-range.html.twig' %}
<!-- end r-product-range -->

{# start region contact info  #}
	<div class="r-contact" id="r-contact"> <div class="r-contact__inner container">
		<div class="r-contact__top">
			<div class="r-contact__title">
				<h2>Contact info</h2>
			</div>
			<div class="r-contact__address">
				<p>Sint-Jozeflaan 33 2400 Mol-Wezel</p>
				<p>014/811260</p>
			</div>

			<div class="r-contact__open">
				<table>
					<tbody>
						<tr>
							<td>Maandag</td>
							<td>Gesloten</td>
						</tr>
						<tr>
							<td>Dinsdag</td>
							<td>7:00 — 13:00</td>
						</tr>
						<tr>
							<td>Woensdag & Zaterdag</td>
							<td>7:00 — 15:00</td>
						</tr>
						<tr>
							<td>Zondag</td>
							<td>7:00 — 13:00</td>
						</tr>
						<tr>
							<td>25 december</td>
							<td>Gesloten</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="r-contact__social">
				<p>Volg onze bakkerij op
					<a href="#">Facebook</a>
					en
					<a href="#">Instagram</a>
				</p>
			</div>
		</div>
		<!-- end r-contact__top -->
		<div class="r-contact__bottom">
			<div class="r-contact__maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2500.3159253202884!2d5.210631416077645!3d51.19483007958509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c1330ece69c427%3A0x5323be37d0315e68!2sSint-Jozefslaan%2033%2C%202400%20Mol!5e0!3m2!1sen!2sbe!4v1605621115941!5m2!1sen!2sbe" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>
		</div>
	</div>
	<!-- end r-contact__inner  -->
</div>
{# end contact info region  #}

{# start footer region  #}
<footer class="r-footer">
	<div
		class="r-footer__decoration">
		<!-- radom number of photos -->
		<ul class="r-footer__img-items">
			<li class="r-footer__img-item">
				<img class="r-footer__img" src="../dist/images/footer-1.jpg" alt="">
			</li>
			<li class="r-footer__img-item">
				<img class="r-footer__img" src="../dist/images/footer-2.jpg" alt="">
			</li>
			<li class="r-footer__img-item">
				<img class="r-footer__img" src="../dist/images/footer-3.jpg" alt="">
			</li>
			<li class="r-footer__img-item">
				<img class="r-footer__img" src="../dist/images/footer-5.jpg" alt="">
			</li>
			<li class="r-footer__img-item">
				<img class="r-footer__img" src="../dist/images/footer-4.jpg" alt="">
			</li>
			<li class="r-footer__img-item">
				<img class="r-footer__img" src="../dist/images/footer-6.jpg" alt="">
			</li>
			<li class="r-footer__img-item">
				<img class="r-footer__img" src="../dist/images/footer-7.JPG" alt="">
			</li>
			<li class="r-footer__img-item">
				<img class="r-footer__img" src="../dist/images/footer-8.jpg" alt="">
			</li>
		</ul>
	</div>
	<div class="r-footer__inner">
		<div class="r-footer__top">
			<p>Van Gorp Patisserie - Sint-Jozeflaan 33 - 2400 Mol-Weze</p>
		</div>
		<div class="r-footer__bottom">
			<p>
				<a class="r-footer__link" href="#">Privacy Policy</a>
				|
				<a class="r-footer__link" href="#">Cookie Policy</a>
			</p>
			<p class="text-small">© 2020 | Van Gorp</p>
		</div>
	</div><!-- end r-footer__inner  --></footer>

<!-- start of cookie__alert -->
{% include directory ~ '/templates/partials/shared/cookie-alert.html.twig' %}
<!-- end of cookie__alert -->
